# configs to skip dirty git prompt during builds
EXPO_NO_CACHE=true
EXPO_NO_GIT_STATUS=true
# app.config.json uses this to create mutilpe variants of the app allowing you to have a dev and preview build installed at once
APP_VARIANT="development"
